* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #eee;
}

.slider-container {
  display: flex;
  flex-direction: row;
}

.slider-container > div {
  margin: 10px;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.logo-container > button {
  margin-left: 5px;
}

.sort-container {
  display: flex;
  flex-direction: row;
}

.sort-container > button {
  margin: 4px;
}

.chart-container {
  display: flex;
  justify-content: center;
}

.chart {
  display: grid;
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 1px;
  height: 91vh;
  width: 80vw;
  padding: 5px 10px;
}

[class*="bar"] {
  border-radius: 5px 5px 0 0;
  transition: all 0.6s ease;
  background-color: #808080;
  grid-row-end: 101;
}
